.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $font;
  line-height: 1;
  color: $text-color;
}
